
.container {
    overflow: hidden;
}

.filterDiv {
    max-width: 100%;
        height: auto;
    display: none;
   margin-bottom: 5px;
  
}

/* В класс "show" добавляется к отфильтрованные элементы */
.show {
    display: block;
}

/* Стиль кнопок */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Добавить светло-серый фон на наведении курсора мыши */
.btn:hover {
    background-color: #ddd;
}

/* Добавить темный фон для активной кнопки */
.btn.active {
    background-color: #666;
    color: white;
}